@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: var(--font-poppins);
}

body {
  font-family: var(--font-poppins), sans-serif;
  background: linear-gradient(135deg, #fef08a 0%, #fbcfe8 100%);
  min-height: 100vh;
}

.dark body {
  background: linear-gradient(135deg, #0f172a 0%, #1e1b4b 100%) !important;
}

/* Custom Scrollbar */
.custom-scroll::-webkit-scrollbar {
  width: 4px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #fbcfe8;
  border-radius: 10px;
}

/* Remove Number Input Spin Buttons */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out forwards;
}